<section class="about-me-section">
    <div class="content-wrapper">

        <div class="column1"   *ngIf="selectlan=== 'fr'">
            <h1 class="main-title">Services</h1>
            <h2 class="subtitle">Des designs qui captivent, des expériences qui convertissent</h2>
        </div>

        <div class="column1" *ngIf="selectlan === 'en'">
          <h1 class="main-title">Services</h1>
          <h2 class="subtitle">Designs that captivate, experiences that convert</h2>
        </div>
      

      <ng-container *ngIf="selectlan === 'fr'">

        <div class="card" *ngFor="let card of cards; let i = index"  (click)="openModal(card)">
            <div class="card-content">
              <div class="card-top">
                <span class="card-title">{{card.numero}}</span>
                <!-- <p>Lightning.</p> -->
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"><g fill="none">
                    <path d="M24 0v24H0V0zM12.593 23.258l-.011.002-.071.035-.02.004-.014-.004-.071-.035c-.01-.004-.019-.001-.024.005l-.004.01-.017.428.005.02.01.013.104.074.015.004.012-.004.104-.074.012-.016.004-.017-.017-.427c-.002-.01-.009-.017-.017-.018m.265-.113-.013.002-.185.093-.01.01-.003.011.018.43.005.012.008.007.201.093c.012.004.023 0 .029-.008l.004-.014-.034-.614c-.003-.012-.01-.02-.02-.022m-.715.002a.023.023 0 0 0-.027.006l-.006.014-.034.614c0 .012.007.02.017.024l.015-.002.201-.093.01-.008.004-.011.017-.43-.003-.012-.01-.01z"/>
                    <path fill="#09244B" d="M11 6a1 1 0 1 1 0 2H5v11h11v-6a1 1 0 1 1 2 0v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2zm9-3a1 1 0 0 1 1 1v5a1 1 0 1 1-2 0V6.414l-8.293 8.293a1 1 0 0 1-1.414-1.414L17.586 5H15a1 1 0 1 1 0-2Z"/></g>
                </svg>
              </div>
              <div class="card-bottom">
                <p>{{card.soustitle}}</p>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"><g fill="none">
                    <path [attr.d]="card.pathd1"/>
                    <path fill="#09244B" [attr.d]="card.pathd2"/></g>
                </svg>
              </div>
        
            </div>
            <div class="card-image">
                <p>{{card.title}}</p>
            </div>
          </div>

      </ng-container>


      <ng-container *ngIf="selectlan === 'en'">

        <div class="card" *ngFor="let card of cardsEn; let i = index"  (click)="openModal(card)">
            <div class="card-content">
              <div class="card-top">
                <span class="card-title">{{card.numero}}</span>
                <!-- <p>Lightning.</p> -->
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"><g fill="none">
                    <path d="M24 0v24H0V0zM12.593 23.258l-.011.002-.071.035-.02.004-.014-.004-.071-.035c-.01-.004-.019-.001-.024.005l-.004.01-.017.428.005.02.01.013.104.074.015.004.012-.004.104-.074.012-.016.004-.017-.017-.427c-.002-.01-.009-.017-.017-.018m.265-.113-.013.002-.185.093-.01.01-.003.011.018.43.005.012.008.007.201.093c.012.004.023 0 .029-.008l.004-.014-.034-.614c-.003-.012-.01-.02-.02-.022m-.715.002a.023.023 0 0 0-.027.006l-.006.014-.034.614c0 .012.007.02.017.024l.015-.002.201-.093.01-.008.004-.011.017-.43-.003-.012-.01-.01z"/>
                    <path fill="#09244B" d="M11 6a1 1 0 1 1 0 2H5v11h11v-6a1 1 0 1 1 2 0v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2zm9-3a1 1 0 0 1 1 1v5a1 1 0 1 1-2 0V6.414l-8.293 8.293a1 1 0 0 1-1.414-1.414L17.586 5H15a1 1 0 1 1 0-2Z"/></g>
                </svg>
              </div>
              <div class="card-bottom">
                <p>{{card.soustitle}}</p>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"><g fill="none">
                    <path [attr.d]="card.pathd1"/>
                    <path fill="#09244B" [attr.d]="card.pathd2"/></g>
                </svg>
              </div>
        
            </div>
            <div class="card-image">
                <p>{{card.title}}</p>
            </div>
          </div>

      </ng-container>


    </div>
  </section>
  
  




  <!-- Modal -->
<div class="modal" *ngIf="selectedCard">
    <div class="modal-content">
        <span class="close" (click)="closeModal()">&times; </span>
        <h2>{{selectedCard.numero}}  {{ selectedCard.title }}</h2>
        <p>{{ selectedCard.soustitle }}</p>
    </div>
</div>