<section class="about-me-section">

    <div class="content-wrapper">

        <div class="column1">
            <h1 class="main-title">Mon cv</h1>
            <h2 class="subtitle">De la passion à l’expertise, découvrez mon évolution professionnelle</h2>
        </div>
      <!-- Contenu principal -->
        <div class="content-container">

            <div class="text-content">

                <div class="stats-container">
                    <div class="stat-card">
                      <div class="icon-container green-bg">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" >
                            <g fill="none" fill-rule="evenodd">
                                <path d="M24 0v24H0V0zM12.593 23.258l-.011.002-.071.035-.02.004-.014-.004-.071-.035c-.01-.004-.019-.001-.024.005l-.004.01-.017.428.005.02.01.013.104.074.015.004.012-.004.104-.074.012-.016.004-.017-.017-.427c-.002-.01-.009-.017-.017-.018m.265-.113-.013.002-.185.093-.01.01-.003.011.018.43.005.012.008.007.201.093c.012.004.023 0 .029-.008l.004-.014-.034-.614c-.003-.012-.01-.02-.02-.022m-.715.002a.023.023 0 0 0-.027.006l-.006.014-.034.614c0 .012.007.02.017.024l.015-.002.201-.093.01-.008.004-.011.017-.43-.003-.012-.01-.01z"/>
                                <path fill="#47C9AA" d="M10.92 2.868a1.25 1.25 0 0 1 2.16 0l2.795 4.798 5.428 1.176a1.25 1.25 0 0 1 .667 2.054l-3.7 4.141.56 5.525a1.25 1.25 0 0 1-1.748 1.27L12 19.592l-5.082 2.24a1.25 1.25 0 0 1-1.748-1.27l.56-5.525-3.7-4.14a1.25 1.25 0 0 1 .667-2.055l5.428-1.176zM12 4.987 9.687 8.959a1.25 1.25 0 0 1-.816.592l-4.492.973 3.062 3.427c.234.262.347.61.312.959l-.463 4.573 4.206-1.854a1.25 1.25 0 0 1 1.008 0l4.206 1.854-.463-4.573a1.25 1.25 0 0 1 .311-.959l3.063-3.427-4.492-.973a1.25 1.25 0 0 1-.816-.592z"/>
                            </g>
                        </svg>
                      </div>
                        <div class="stat-content">
                            <div class="stat-number">4 <span style="font-size: 20px; font-weight: 700;">ans</span></div>
                            <div class="stat-text"> d'expérience</div>
                        </div>
                    </div>
                    

                    <div class="stat-card">
                      <div class="icon-container purple-bg">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"><g fill="none" fill-rule="evenodd">
                            <path d="M24 0v24H0V0zM12.594 23.258l-.012.002-.071.035-.02.004-.014-.004-.071-.036c-.01-.003-.019 0-.024.006l-.004.01-.017.428.005.02.01.013.104.074.015.004.012-.004.104-.074.012-.016.004-.017-.017-.427c-.002-.01-.009-.017-.016-.018m.264-.113-.014.002-.184.093-.01.01-.003.011.018.43.005.012.008.008.201.092c.012.004.023 0 .029-.008l.004-.014-.034-.614c-.003-.012-.01-.02-.02-.022m-.715.002a.023.023 0 0 0-.027.006l-.006.014-.034.614c0 .012.007.02.017.024l.015-.002.201-.093.01-.008.003-.011.018-.43-.003-.012-.01-.01z"/>
                            <path fill="#3E6EFF" d="M18 17a3 3 0 1 1-2.83 4H14a1 1 0 1 1 0-2h1.17A3.001 3.001 0 0 1 18 17m2-14a1 1 0 1 1 0 2c-1.605 0-2.848.78-3.982 2.14-.982 1.179-1.812 2.71-2.66 4.382l-.99 1.974c-.838 1.65-1.746 3.32-2.85 4.644C8.152 19.78 6.395 21 4 21a1 1 0 1 1 0-2c1.605 0 2.848-.78 3.982-2.14.982-1.179 1.812-2.71 2.66-4.382l.99-1.974c.838-1.65 1.746-3.32 2.85-4.644C15.848 4.22 17.605 3 20 3m-2 16a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-7 0a1 1 0 0 1 .117 1.993L11 21h-1a1 1 0 0 1-.117-1.993L10 19zM6 1a3 3 0 0 1 2.762 1.828L8.83 3H10a1 1 0 0 1 .117 1.993L10 5H8.83A3.001 3.001 0 1 1 6 1m0 2a1 1 0 1 0 0 2 1 1 0 0 0 0-2m8 0a1 1 0 1 1 0 2h-1a1 1 0 1 1 0-2z"/></g>
                        </svg>
                      </div>
                        <div class="stat-content">
                            <div class="stat-number">6 <span style="font-size: 24px; font-weight: 700;">+</span></div>
                            <div class="stat-text">Outils maitrisé</div>
                        </div>
                    </div>
                </div>



                <div class="stats-container-outil">
                    <div class="stat-card-outil">
                      
                        <div class="stat-content-outil">
                            <img src="/images/psd.svg" alt="Image d'accueil" class="iconmove" />
                            <img src="/images/illustrator.svg" alt="Image d'accueil" class="iconmove" />
                            <img src="/images/aftereffect.svg" alt="Image d'accueil" class="iconmove" />
                            <img src="/images/premierpro.svg" alt="Image d'accueil" class="iconmove" />
                            <img src="/images/visualcod.svg" alt="Image d'accueil" class="iconmove" />
                            <img src="/images/figma.svg" alt="Image d'accueil" class="iconmove" />
                            <img src="/images/figma.svg" alt="Image d'accueil" class="iconmove" />
                        </div>
                    </div>
                </div>



                <div class="container-eukludia">
                <div class="experience-container">
                    <div class="experience">
                      <img src="/images/euklydia.png" alt="EUKLYDIA Logo" class="logo">
                      <div class="details">
                        <h3>AI Video Content Creator</h3>
                        <p>EUKLYDIA | May 2024 – Dec. 2024</p>
                      </div>
                    </div>
                
                    <div class="experience">
                      <!-- <img src="https://s3-alpha-sig.figma.com/img/3611/808f/9a98a1fd5c03e66ee3844c39078af931?Expires=1745193600&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=Z-RAOpb6cGfNs8z1J246sBk9yxl-cbuBISIC0jO-m08mfjz-p3Ws6nq9-esw2pa9wyLMPF8lPRly~YiIodxf~LZ5LRuPbQWG69KM~lT5jVLoYptOaaI9NCy8FY-CZYp14OeeblXurth6QG1rA0DCAgJy70Bkp6ap~dYPdKCvzZPX0o0miPnROfhgrCZ~kd~2AXGEPOSn-xqR8fMa~HFJnGjSkgCDmqL76dNO2cFv09kal3cCk~6G0iXeWstQOZcJ0Fj-WAigzQ-v-pBiiXM446slqFmV2BYwxgd7TZmHeJmKl5uNfi4AQflUTjocSCKHqwdSeoPxkwdNOIUyLf~aYA__" alt="EUKLYDIA Logo" class="logo"> -->
                      <img src="/images/euklydia.png" alt="EUKLYDIA Logo" class="logo">
                      <div class="details">
                        <h3>Graphic Design Manager & UI/UX Designer</h3>
                        <p>MCOM | March 2023 – May 2024</p>
                      </div>
                    </div>
                
                    <div class="experience">
                      <!-- <img src="https://s3-alpha-sig.figma.com/img/3611/808f/9a98a1fd5c03e66ee3844c39078af931?Expires=1745193600&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=Z-RAOpb6cGfNs8z1J246sBk9yxl-cbuBISIC0jO-m08mfjz-p3Ws6nq9-esw2pa9wyLMPF8lPRly~YiIodxf~LZ5LRuPbQWG69KM~lT5jVLoYptOaaI9NCy8FY-CZYp14OeeblXurth6QG1rA0DCAgJy70Bkp6ap~dYPdKCvzZPX0o0miPnROfhgrCZ~kd~2AXGEPOSn-xqR8fMa~HFJnGjSkgCDmqL76dNO2cFv09kal3cCk~6G0iXeWstQOZcJ0Fj-WAigzQ-v-pBiiXM446slqFmV2BYwxgd7TZmHeJmKl5uNfi4AQflUTjocSCKHqwdSeoPxkwdNOIUyLf~aYA__" alt="EUKLYDIA Logo" class="logo"> -->
                      <img src="/images/euklydia.png" alt="EUKLYDIA Logo" class="logo">
                      <div class="details">
                        <h3>Graphic Designer and Motion Designer</h3>
                        <p>ELITE 2COM | May 2022 – Jan. 2023</p>
                      </div>
                    </div>
                
                    <div class="experience">
                      <!-- <img src="https://s3-alpha-sig.figma.com/img/3611/808f/9a98a1fd5c03e66ee3844c39078af931?Expires=1745193600&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=Z-RAOpb6cGfNs8z1J246sBk9yxl-cbuBISIC0jO-m08mfjz-p3Ws6nq9-esw2pa9wyLMPF8lPRly~YiIodxf~LZ5LRuPbQWG69KM~lT5jVLoYptOaaI9NCy8FY-CZYp14OeeblXurth6QG1rA0DCAgJy70Bkp6ap~dYPdKCvzZPX0o0miPnROfhgrCZ~kd~2AXGEPOSn-xqR8fMa~HFJnGjSkgCDmqL76dNO2cFv09kal3cCk~6G0iXeWstQOZcJ0Fj-WAigzQ-v-pBiiXM446slqFmV2BYwxgd7TZmHeJmKl5uNfi4AQflUTjocSCKHqwdSeoPxkwdNOIUyLf~aYA__" alt="EUKLYDIA Logo" class="logo"> -->
                      <img src="/images/euklydia.png" alt="EUKLYDIA Logo" class="logo">
                      <div class="details">
                        <h3>Graphic Design Manager</h3>
                        <p>Arbio Naturel | Sept. 2021 – April 2022</p>
                      </div>
                    </div>
                
                    <div class="experience">
                      <!-- <img src="https://s3-alpha-sig.figma.com/img/3611/808f/9a98a1fd5c03e66ee3844c39078af931?Expires=1745193600&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=Z-RAOpb6cGfNs8z1J246sBk9yxl-cbuBISIC0jO-m08mfjz-p3Ws6nq9-esw2pa9wyLMPF8lPRly~YiIodxf~LZ5LRuPbQWG69KM~lT5jVLoYptOaaI9NCy8FY-CZYp14OeeblXurth6QG1rA0DCAgJy70Bkp6ap~dYPdKCvzZPX0o0miPnROfhgrCZ~kd~2AXGEPOSn-xqR8fMa~HFJnGjSkgCDmqL76dNO2cFv09kal3cCk~6G0iXeWstQOZcJ0Fj-WAigzQ-v-pBiiXM446slqFmV2BYwxgd7TZmHeJmKl5uNfi4AQflUTjocSCKHqwdSeoPxkwdNOIUyLf~aYA__" alt="EUKLYDIA Logo" class="logo"> -->
                      <img src="/images/euklydia.png" alt="EUKLYDIA Logo" class="logo">
                      <div class="details">
                        <h3>Graphic Design Intern</h3>
                        <p>Radio Med Tunisia | Aug. 2021 – Sept. 2021</p>
                      </div>
                    </div>
                
                    <div class="experience">
                      <!-- <img src="https://s3-alpha-sig.figma.com/img/3611/808f/9a98a1fd5c03e66ee3844c39078af931?Expires=1745193600&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=Z-RAOpb6cGfNs8z1J246sBk9yxl-cbuBISIC0jO-m08mfjz-p3Ws6nq9-esw2pa9wyLMPF8lPRly~YiIodxf~LZ5LRuPbQWG69KM~lT5jVLoYptOaaI9NCy8FY-CZYp14OeeblXurth6QG1rA0DCAgJy70Bkp6ap~dYPdKCvzZPX0o0miPnROfhgrCZ~kd~2AXGEPOSn-xqR8fMa~HFJnGjSkgCDmqL76dNO2cFv09kal3cCk~6G0iXeWstQOZcJ0Fj-WAigzQ-v-pBiiXM446slqFmV2BYwxgd7TZmHeJmKl5uNfi4AQflUTjocSCKHqwdSeoPxkwdNOIUyLf~aYA__" alt="EUKLYDIA Logo" class="logo"> -->
                      <img src="/images/euklydia.png" alt="EUKLYDIA Logo" class="logo">
                      <div class="details">
                        <h3>Graphic Design Intern</h3>
                        <p>Fikra Agency | July 2020 – Aug. 2020</p>
                      </div>
                    </div>
                
                    <div class="experience">
                      <!-- <img src="https://s3-alpha-sig.figma.com/img/3611/808f/9a98a1fd5c03e66ee3844c39078af931?Expires=1745193600&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=Z-RAOpb6cGfNs8z1J246sBk9yxl-cbuBISIC0jO-m08mfjz-p3Ws6nq9-esw2pa9wyLMPF8lPRly~YiIodxf~LZ5LRuPbQWG69KM~lT5jVLoYptOaaI9NCy8FY-CZYp14OeeblXurth6QG1rA0DCAgJy70Bkp6ap~dYPdKCvzZPX0o0miPnROfhgrCZ~kd~2AXGEPOSn-xqR8fMa~HFJnGjSkgCDmqL76dNO2cFv09kal3cCk~6G0iXeWstQOZcJ0Fj-WAigzQ-v-pBiiXM446slqFmV2BYwxgd7TZmHeJmKl5uNfi4AQflUTjocSCKHqwdSeoPxkwdNOIUyLf~aYA__" alt="EUKLYDIA Logo" class="logo"> -->
                      <img src="/images/euklydia.png" alt="EUKLYDIA Logo" class="logo">
                      <div class="details">
                        <h3>Freelance</h3>
                        <p>Freelance | 2019 – To date</p>
                      </div>
                    </div>
                  </div>
                </div>
            </div>


            <div class="visual-content">
                <p>hhhhhhhhhhhhhhhhhhh</p>
            </div>

        </div>


    </div>
  </section>
  
  