<div class="fade-in-on-scroll">
<section class="about-me-section">
    <img src="/images/pub1p.png" alt="Fond de grille" class="grid-background-image">

    <div class="content-wrapper">
       
        

        <div class="column1"   *ngIf="selectlan=== 'fr'">
            <h1 class="main-title">Pourquoi c’est <br> un atout ?</h1>
            <p>Pas besoin de plusieurs prestataires : je gère tout, de la conception au rendu final. <br>
                Approche cohérente pour une identité visuelle forte et mémorable.</p>
            <button class="cta-button">Travaillons ensemble</button>
        </div>

        <div class="column1" *ngIf="selectlan === 'en'">
            <h1 class="main-title">Why is it <br> an advantage?</h1>
            <p>No need for multiple providers: I handle everything from design to final delivery. <br>
                A consistent approach for a strong and memorable visual identity.</p>
            <button class="cta-button">Let's work together</button>
        </div>
        

        <img src="/images/qrcod1.png" alt="QR Code" class="qr-image">
    </div>
</section>

</div>
